/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.user-list {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.header-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

/* Basic Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    width: 175px;
    height: 50px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

.primary-button {
    background-color: #3498db;
}

.primary-button:hover {
    background-color: #2980b9;
}

.secondary-button {
    background-color: #e74c3c;
}

.secondary-button:hover {
    background-color: #c0392b;
}

.success-button {
    background-color: #27ae60;
}

.success-button:hover {
    background-color: #219d53;
}

.danger-button {
    background-color: #e74c3c;
}

.danger-button:hover {
    background-color: #c0392b;
}

.large-button {
    padding: 15px 30px;
}

.small-button {
    padding: 5px 10px;
}


@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    .avatar {
        width: 30px;
        height: 30px;
    }
}